Source: hebrew-cal
Section: misc
Priority: optional
Maintainer: Avi Software <avisoftware123@gmail.com>
Homepage: https://github.com/avi-software/hebrew-cal
Build-Depends: debhelper (>= 9),qtbase5-dev
Standards-Version: 3.9.5

Package: hebrew-cal
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hebrew Calendar
 hebrew-cal, It is beautifully designed Hebrew calendar,
 and very easy to use, and to customize.
 The calendar includes Hebrew dates, holidays,
 times, Parshiot Hashavua, Daf Yomi, and more.
 .
 The Appearance can be changed,
 and the colors are editable, and calendars can be printed.
 .
 It is written in C++ by QT.
 It is base on the libhdate code and zmanim-java-API.
